In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.2.3

In [5]:
A = pd.Series([2,3,4,5], index=['a','b','c','d'])
type(A.values)

numpy.ndarray

In [6]:
type(A)

pandas.core.series.Series

In [ ]:
A['a':'c'] #Final index is included

a    2
b    3
c    4
dtype: int64

In [14]:
grades_dict= {'A':4, 'B':3, 'C':2, 'D':1}
grades = pd.Series(grades_dict)
print(grades)

A    4
B    3
C    2
D    1
dtype: int64

In [10]:
grades[0:2] #Implicit indexing

A     4
A+    3
dtype: int64

In [11]:
marks_dict= {'A':40, 'B':30, 'C':20, 'D':10}
marks = pd.Series(marks_dict)
print(marks)

A    40
B    30
C    20
D    10
dtype: int64

In [15]:
D = pd.DataFrame({'Marks':marks, 'Grades': grades})
print(D)

   Marks  Grades
A     40       4
B     30       3
C     20       2
D     10       1

In [16]:
print(D.values)

[[40  4]
 [30  3]
 [20  2]
 [10  1]]

In [17]:
D.values[2, 0]

np.int64(20)

In [18]:
D.columns

Index(['Marks', 'Grades'], dtype='object')

In [19]:
D['Scaled(10)'] = (D['Marks']/100)*10
print(D)

   Marks  Grades  Scaled(10)
A     40       4         4.0
B     30       3         3.0
C     20       2         2.0
D     10       1         1.0

In [20]:
del D['Scaled(10)']
print(D)

   Marks  Grades
A     40       4
B     30       3
C     20       2
D     10       1

In [23]:
G = D[D['Marks']>20]
print(G)

   Marks  Grades
A     40       4
B     30       3

Handle missing values

In [24]:
D = pd.DataFrame([{'a':1, 'b':2}, {'b':5, 'c':5}])
print(D)

     a  b    c
0  1.0  2  NaN
1  NaN  5  5.0

In [29]:
D.fillna(0)

     a  b    c
0  1.0  2  0.0
1  0.0  5  5.0

In [28]:
D.dropna()
print(D)

     a  b    c
0  1.0  2  NaN
1  NaN  5  5.0

loc-> explicit indexing iloc -> implicit indexing

In [30]:
A = pd.Series(['a', 'b', 'c'], index = [1, 3, 5])
print(A[1])

a

In [31]:
A[1:3]

3    b
5    c
dtype: object

In [32]:
A.loc[1:3]

1    a
3    b
dtype: object

In [33]:
A.iloc[1:3]

3    b
5    c
dtype: object

In [36]:
D = pd.DataFrame({'Marks':marks, 'Grades': grades})
print(D)

   Marks  Grades
A     40       4
B     30       3
C     20       2
D     10       1

In [37]:
D.iloc[1:3]

   Marks  Grades
B     30       3
C     20       2

In [38]:
D.iloc[::-1]

   Marks  Grades
D     10       1
C     20       2
B     30       3
A     40       4